body {
    padding: 0px;
    margin: 0px;
}

#main {
    width: 100%;
}

.large-content {
    display: inline-block;
    height: 100vh;
}

.left-image {
    width:40%;
    background-color: rgb(200,200,200);
}

.right-description {
    width: 60%;
    background-color: rgb(255,0,255);
}