@charset "utf-8";

body {
    margin: 0;
    padding: 0;
	overflow-x: hidden;

	background-color: rgb(0,0,0);
	
}

.image-large {
    width: 60px;
}

.image-container {
    position: absolute;
    top: 18px;
    left: 15px;
}

.image-container img {
    display: block;
}

nav{
	background:#02152b;
	color:#fff;
	text-align: center;
}

nav ul{
	list-style: none;
	display: flex;
	justify-content: space-evenly;
}

nav ul ul{
	display: block;
}

nav ul li{
	position: relative;
}

nav ul li a{
	display: block;
	text-decoration: none;
	color: #999;
	padding:20px 35px;
	transition:all .3s;
}

nav ul li li a{
	padding:10px 35px;
}

nav ul li a:hover{
	color:#fff;
}

nav ul li.has-child::before{
	content:'';
	position: absolute;
	left:15px;
	top:25px;
	width:6px;
	height:6px;
	border-top: 2px solid #999;
    border-right:2px solid #999;
    transform: rotate(135deg);
}

nav ul ul li.has-child::before{
	content:'';
	position: absolute;
	left:6px;
	top:17px;
	width:6px;
	height:6px;
    border-top: 2px solid #fff;
    border-right:2px solid #fff;
    transform: rotate(45deg);
}


nav li.has-child ul{
	position: absolute;
	left:0;
	top:62px;
	z-index: 4;
	background:#ff8c00;
	width:180px;
	visibility: hidden;
	opacity: 0;
	transition: all .3s;
}


nav li.has-child:hover > ul,
nav li.has-child ul li:hover > ul,
nav li.has-child:active > ul,
nav li.has-child ul li:active > ul{
  visibility: visible;
  opacity: 1;
}

nav li.has-child ul li a{
	color: #fff;
	border-bottom:solid 1px rgba(255,255,255,0.6);
}

nav li.has-child ul li:last-child > a{
 border-bottom:none;
}

nav li.has-child ul li a:hover,
nav li.has-child ul li a:active{
	background:#ffb565;
}

nav li.has-child ul ul{
	top:0;
	left:182px;
	background:#ffd500;
}

nav li.has-child ul ul li a:hover,
nav li.has-child ul ul li a:active{
	background:#fff93f;
}

@media screen and (max-width:768px){
	nav{
		padding: 0;
	}

	nav ul{
		display: block;
	}

	nav li.has-child ul,
	nav li.has-child ul ul{
  	position: relative;
	left:0;
	top:0;
	width:100%;
	visibility:visible;
	opacity:1;
	display: none;
	transition:none;
}

nav ul li a{
	border-bottom:1px solid #ccc;
}


nav ul li.has-child::before{
	left:20px;
}

nav ul ul li.has-child::before{
    transform: rotate(135deg);
	left:20px;
}

nav ul li.has-child.active::before{
    transform: rotate(-45deg);
}

}



small{
	background:#333;
	color:#fff;
	display: block;
	text-align: center;
	padding:20px;
}


section{
	padding:30px;
}

section:nth-child(2n){
	background:#f3f3f3;
}


.tile {
	width: calc(100%);
	box-sizing: border-box;
	padding: 1em;
    display: inline-block;
	margin-top: 2em;
}
.tile.game-preview {
	/*height:calc(100vw*1.5);*/
	padding-bottom: 0em;
	padding-top: 0em;
}

.explan {
	overflow-wrap: break-word;
}

.tile.game-preview .gameboy-container {
	width: 100%;
    height:100%;
	/*background-color:rgba(255,150,0);*/
	position: relative;
	background-color: rgba(150,150,150,0.35);
	
	/*background-color: rgba(33,3,3,0.35);*/
}

.tile.game-preview .overlay {
	width:100%;
	height:100%;
}

/*gameboyの画像*/
.gameboy-container > img.gameboy-img {
	position: absolute;
	width:100%;
	pointer-events: none;

	/*opacity: 0;*/
	transition: 1s;

	z-index: 2;
}

.gameboy-container:hover img.gameboy-img {
	box-shadow: 10px 15px 22px 25px rgba(200, 0, 133, 0.2),
    0 0 2px rgba(0, 200, 100, 0.15); 
	background-blend-mode:lighten;
}

.eyecatch-overlay {
	display: none;
	opacity: 0;
	position: absolute;
	/*background-color: rgba(0,0,0,0);*/
	width: 80%;
	margin: 10%;
	height: 80%;
	z-index: 1;
	
	pointer-events: none;
}

.gameboy-container:hover .eyecatch-overlay {
	opacity: 0.5;
	display: block;
	/*background-color: rgba(190,255,0,0.5);*/
}


img.gameboy-img {
	filter: drop-shadow(2em 2em 2em rgba(160, 160, 160, 0.8));
	box-shadow: 10px 15px 22px -5px rgba(0, 0, 0, 0.2),
    0 0 2px rgba(0, 0, 0, 0.15); 
}
img.gameboy-img:after {    
	content: '';
	position: absolute; /* 親要素に重なるように */
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* 👇白の透明度を調整したグラデーション */
	background: linear-gradient(
	  -90deg,
	  rgba(255, 255, 255, 0) 0%,
	  rgba(255, 255, 255, 0.1) 80%,
	  rgba(255, 255, 255, 0.4) 94%,
	  rgba(255, 255, 255, 0.5) 96%,
	  rgba(255, 255, 255, 0) 100%
	);
  }

.gameboy-container .gb-frame-content {
    width: 100%;
    height: 100%;
}

.gb-frame-content .gb-frame-top {
    padding-top: 10%;
    padding-left: 5%;
	box-sizing: border-box;
	overflow: hidden;

	width: 100%;
    height: 50%;
}

.gb-frame-content .gb-frame-top .eye-catch {
	width: 90%;
	/*z-index: -2;*/
}

.gb-frame-content .gb-frame-bottom {
	box-sizing: border-box;
    width: 100%;
    height: 50%;
    padding: 10%;
	position: relative;
}
.gb-frame-bottom .explan {
	/*mark*/
	visibility: hidden;
}
.gameboy-container:hover .gb-frame-bottom .explan {
	visibility: visible;
    height: 75%;
    width:80%;
	position: absolute;
    overflow: scroll;
	overflow-x: hidden;

	/*background-color: rgba(255,255,200,0.75);*/
	background-color: rgba(33,33,33,0.5);
	/*color: rgba(200, 255, 251, 0.5);*/
	color: rgba(200,255,255,0.5);
	border-radius: 10%;
	padding: 1em;
	padding-bottom: 2em;
	box-sizing: border-box;

	z-index: 3;
}

.tile.member-introduction {
	
	/*background-image: url(wood-texture2.jpg);
	background-color: rgba(33,200,255,0.6);
	background-blend-mode:lighten;*/

	/*background-color: rgb(249, 174, 53);*/
	/*background-color: rgb(239, 148, 0);*/
	background-color: rgb(255, 172, 38);
	
	/*background-color: rgba(33,33,33);*/
	/*background-color: rgba(2, 21, 43);*/
	color: rgb(255,200,0);
	border-radius: 10% 0%;

	border-top:  solid;
}

.tile.member-introduction:target {
	animation: highlight 2.4s ease-in-out;
}

@keyframes highlight {
	0% {
	  background-color: #fceb70;
	}
	50% {
	  background-color: rgb(255, 172, 38);
	}
}

.page-description {
	color: rgba(200,200,200);
	padding: 1em;
}

#main {
	-moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;

	/*background-image: url(wood-texture3.jpg);*/
	background-image: url("los-angeles-downtown-buildings-night.jpg");
	
	/*background-color: rgba(33,255,255,0.6);*/
	background-color: rgba(33,33,150,0.6);
	/*background-color: rgba(200,200,200,0.6);*/

	background-size: 600% 600%;
	/*background: linear-gradient(270deg, rgba(17, 11, 35, 0.4), rgba(44, 26, 48, 0.4), rgba(228, 205, 233, 0.4));*/
    
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;

	background-blend-mode:lighten;

	/*z-index: -3;*/
}

@-webkit-keyframes AnimationName {
    0%{background-position:54% 0%}
    50%{background-position:47% 100%}
    100%{background-position:54% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:54% 0%}
    50%{background-position:47% 100%}
    100%{background-position:54% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:54% 0%}
    50%{background-position:47% 100%}
    100%{background-position:54% 0%}
}
@keyframes AnimationName {
    0%{background-position:54% 0%}
    50%{background-position:47% 100%}
    100%{background-position:54% 0%}
}



@media (min-aspect-ratio: 1/1) {
	#main {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
	}
	/*.tile.game-preview {
		height:calc(100vw/2*1.5);
	}*/
}


@media (min-aspect-ratio: 3/2) {
	#main {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
	}
	/*.tile.game-preview {
		height:calc(100vw/3*1.5);
	}*/
}

.original-scroller {
    margin: 0 auto;
    overflow-y: scroll;
    /*border: solid 4px rgb(222, 148, 149);*/
	/*border: solid 4px rgb(1, 148, 149);*/
	border-top: rgba(200, 255, 251, 1) solid 4px;
	border-bottom: rgba(200, 255, 251, 1) solid 4px;

	/*rgba(222, 148, 191, 1);*/
    
	/*border-radius: 5px;*/
    
	/*scrollbar-color: #FAF8D8 rgb(222, 148, 149);*/
    /*scrollbar-color: #FAF8D8 rgb(222, 18, 149);*/
    scrollbar-color: #FAF8D8 rgb(33, 33, 33);
    scrollbar-width: none;
}

/*.tile.member-introduction h1,*/.dotgothic16-regular {
	font-family: "DotGothic16", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.tile.member-introduction h1 {
	font-family: "Monomaniac One", sans-serif;
  	font-weight: 400;
  	font-style: normal;
}

.explan {
	font-family: "DotGothic16", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.prologue {
	background-image:url(wood-texture2.jpg);
	background-color: rgba(0,0,0,0.3);
	background-blend-mode:darken;
}

.prologue #top {
  /*text-shadow: rgba(200, 0, 133, 0.2) 5px 5px;*/
  color:rgba(255,255,255,0.9);
  text-decoration: underline;
}


.menu-opt {
	color:white;
}

.menu-opt:hover {
	color: rgba(200, 255, 251, 1);
	text-shadow: 0 0 10px rgba(200, 255, 251, 1);
}


.anchor {
	visibility: none;
}
